@import url("./common.css");

main {
    padding: 1rem;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
}

.admin-details-section {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    font-size: 18px;
    background-color: #5b5b5b;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    font-weight: 500;
}

.all-student-section {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.student-card {
    display: flex;
    justify-content: space-between;
    gap: .7rem;
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 1rem;
}