* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #212121;
    color: #fff;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

button {
    background-color: crimson;
    padding: .7rem 1rem;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 22px;
    transition: background .2s ease-in-out;
}

input {
    padding: .7rem 1rem;
    border: none;
    outline: none;
    font-weight: 700;
    border-radius: 1000px;
    outline: 5px solid transparent;
}

.toaster-container {
    position: absolute;
    padding: 1rem;
    background-color: yellow;
    color: crimson;
    font-size: 18px;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: .4rem;
    display: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration-line: none;
}